body {
    margin: 0;
}

#privacy-content {
    display: flex;
    max-width: max-content;
    margin:  auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: sans-serif;
}

#header-title {
    margin-left: 20px;
}

#privacy-header {
    display: flex;
    max-width: max-content;
    justify-content: flex-start;
    align-items: center;
}

#privacy-body {
    text-align: justify;
    max-width: max-content;
    padding: 20px;
    box-sizing: border-box;
    background-color: blanchedalmond;
    border-radius: 20px;
    margin-top: 20px;
}

li {
    line-height: 200%;
}

